:root { 
--purple_200:#caadd6; 
--white_A700_3f:#ffffff3f; 
--blue_gray_100_01:#cccccc; 
--black_900_3f:#0000003f; 
--deep_purple_300:#aa7cce; 
--black_900_87:#05020787; 
--white_A700_99:#ffffff99; 
--black_900_01:#050207; 
--black_900:#000000; 
--deep_purple_300_3a:#aa7cce3a; 
--black_900_87_01:#00000087; 
--purple_300:#d85bbd; 
--gray_600:#765f93; 
--purple_200_87:#caadd687; 
--gray_700:#664d74; 
--gray_600_87:#7a608887; 
--blue_gray_100:#d9d9d9; 
--gray_500:#9a9797; 
--gray_600_01:#7a6088; 
--gray_900:#291539; 
--gray_900_01:#1e1e1e; 
--gray_300:#e9dede; 
--white_A700_87:#ffffff87; 
--purple_200_7f:#caadd67f; 
--black_900_99:#00000099; 
--black_900_71:#05020771; 
--white_A700:#ffffff; 
}